In [7]:
import pandas as pd
import numpy as np
df = pd.read_excel("/Users/snow/Documents/IRON HACK COURSE/Week 2/Mini Project/Week-2-Mini-Project---Shark-Attacks/GSAF5.xls")
df["Time"].unique()

array(['0930hrs', '1524hrs', 'Not stated', '0730hrs', '1300hrs',
       '1055 hrs', '1630hrs', '1130hrs', 'PM', '1150hrs', '1500hrs',
       '1600', '1615 hrs', '1210hrs', '1200hrs', '1211 hrs', '1400hrs',
       '1100hrs', 'pm', '0945hrs', '1430hrs', '1210 hrs', '1340hrs',
       'Unknown', '0815hrs', '1503hrs', '1830hrs', '1645 hrs', '1711hrs',
       '1600hrs', '1330hrs', '1615hr', '1710hr', '?', '1637hr', 'AM',
       '1600hr', '1735hrs', '1115hrs', '1118hrs', '1615hrs', '1100hr',
       'after 1200hr', '1400hr', 15.5, '13h15', '9h', 1300, '14h',
       '15h30', '13h30', '9h15', 'Not advised', '13h40', '12h30', '16h00',
       nan, '11h30', '06h30', '20h00', '13h00', '11h12', '16h30', '15h00',
       '02h00', '09h15', 'Early Morning', '16h32', '11h00', 'Morning',
       '10h30', '13h20', '14h00', '09h00', '10h20', '15h05', '17h00',
       '15h45', '07h45', '10h40', '07h50', '01h00', '10h00', 'Afternoon',
       '19h30', 'Evening', '17h50', '09h30', '08h45', '"Midday"', '16h25',
       '13h55', '13h50', '17h20', '13h45', '10h10', '14h35', 'Night',
       '1500h ', '19h15', '11h20', '07h15', '07h00', '18h00', '08h00',
       '14h20', '17h30', '07h20', '14h50', '-16h30', '12h00', '17h17',
       '11h15', '19h00', '07h53', '16h10', '11h17', '17h45', '10jh45',
       'Early  morning', '13h12', '07h30', '11hoo', '11h43', '10h15',
       '14h09', '12h15', '19h12', '15h20', '16h40', '11h24', '12h50',
       '07h31', '14h45', '1040hrs', '19h20', 'Dusk', '11h45', '06h40',
       '`17h00', '07h51', '11h46', '20h30', '12h23', '07h07', '16h39',
       '15h57', '14h30', '16h45', '10j30', '08h15', '08h56', '15h40',
       '18h30', '07h58', '17h40', '09h00-10h00', '17h10', '09h36',
       '08h40', '06h00', 'Sunset', '10h45', 1415, '14h00-15h00', '14h15',
       '09h08', '15h59', '08h30', '12h20', '10h50', 'Midday', '09h40',
       '14h33', '12h58', '"Evening"', '16h15', '23h00', '06h50', '12h45',
       '11h55', '22h20', '08h48', '16h21', '16h26', '18h45', '03h00',
       '06h15', 'Before 10h00', '06h45', 'Early afternoon', '06h55',
       '13h42', '09h29', '10h47', '14h11', '15h35', '14h40',
       '14h00  -15h00', 'Late afternoon', '16h50', '21h50', '17h35',
       '19h00, Dusk', '15h01', 1000, '23h30', '10h44', '13h19',
       'Shortly before 12h00', '17h34', '08h50', '09h50', '9h00', '10h43',
       'After noon', '15h15', '19h05', '14h30 / 15h30', '22h00', '16h20',
       '14h34', '15h25', '14h55', '17h46', 'Morning ', '15h49',
       'Midnight', '09h30 / 10h00', '18h15', '04h00', '10h25',
       '10h45-11h15', '15h52', '19h45', '12h10', '18h05', '11h41',
       '12h25', '17h51', '16h12', '09h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '16h18', '11h10',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '15h19', '10h55', '15h55', '12h40', '16h05', '14h10', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56',
       'Just before noon', '07h56', '16h35', '09h05', '19h28', '12h38',
       '05h50', '15h50', '11h05', 'Early morning', 'Dawn', '05h45',
       '13h25', '13h26', '09h11', '18h20', '13h51', 'A.M.', '08h05',
       '10h35', '15h44', '21h00', 'Lunchtime', '15j45', '09h35', '10h27',
       '10h16', '0500', 'Before 07h00', '09h20', '10h00 -- 11h00',
       '12h05', '14h21', '18h50', '15h53', '"Just before 11h00"',
       '11h115', '20h15', '12h39', '07h05', '  ', '13h05', 'N', '11h50',
       'Just before sundown', '17h55', '22h30', '17h15', '11h30 ',
       '06h10', 'Between 05h00 and 08h00', '07h08', '17h00 or 17h40',
       '>08h00', '--', '12h02', '12h55', '16h14', '17h11', '00h30',
       '14h37', '10h07', '13h53', '13h23', 'Just after 12h00', '02h30',
       '11h56', ' ', 'Shortly after midnight', '14h25', '13h345', '\xa0 ',
       '06h47', '09h00 -10h00', '20h45 (Sunset)', 'Late morning', 'P.M.',
       '18h40', '13h14', '13h06', 'Shortly before 13h00', '12h34',
       '11h53', '8:04 pm', '12h46', '12h48', '17h42', '12h35',
       'Possibly same incident as 2000.08.21', 'After Dusk', '11h57',
       'Noon', '11h25', '18h25', '10h28', '14h16', '09h55',
       '2 hours after Opperman', '09h30 ', 'Mid afternoon', 'Mid morning',
       '11h48', '11h00 / 11h30', '07h19', '13h37', '11h06', '"Night"',
       '18h30?', '11h58', '11h51', '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', 'Dark', '10h00 / 11h00',
       '"After lunch"', '07h32', '15h00 or 15h45', '>17h00',
       '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00', 'night',
       '03h45 - 04h00', '13h10', '09h30 / 15h30', '08h00 / 09h30',
       '19h35', '12h00 to 14h00', '13h35', 'Late night', '01h32',
       '10h30 or 13h30', '16h23', '15h00j', 'Midday.', '"After dark"',
       '10h00 or 14h00', '19h10', '2 hrs before sunset', '18h15 to 21h30',
       1500, '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [9]:
# %pip install xlrd
import pandas as pd
import numpy as np
import re

df = pd.read_excel("/Users/snow/Documents/IRON HACK COURSE/Week 2/Mini Project/Week-2-Mini-Project---Shark-Attacks/GSAF5.xls")

# Now we want to clean the dataframe a bit
# First lets have a look at the Dataframe
print(df.shape, '\n')
print(df.nunique(), '\n')

# Then we want to standardize the column names
df.columns = df.columns.str.lower().str.replace(" ","_").str.replace(":", "")
df.rename(columns={"species_":"species"}, inplace=True)

# We can see that there are some weird values in the 'Type' column such as 'Boat', 'Questionable ', 'Unconfirmed'
# We want to merge these values into a single category called 'Under investigation'

# First, we drop the rows where 'Type' and 'Sex' are null
df.dropna(subset=["sex", "type"], inplace=True)

# Then, we replace the values in the 'Type' column
def replace_type(value):
    if isinstance(value, str):
        # Remove white spaces and compare lower-case
        value_clean = value.strip().lower()
        valid_types = ['unprovoked', 'provoked']
        if value_clean not in valid_types:
            return "Under investigation"
        else:
            # Return the standardized value (capitalize first letter)
            return value_clean.capitalize()
    return value

df["type"] = df["type"].apply(replace_type)

# Now we can check the value counts again
print(df["type"].value_counts(), '\n')

# Now we want to clean the 'sex' column in the same way
def replace_sex(value):
    if isinstance(value, str):
        if value[0].lower() == "f":
            return "F"
        else:
            return "M"

df["sex"] = df["sex"].apply(replace_sex)
print(df["sex"].value_counts(), '\n')
print(df['sex'].unique(), '\n')

# Now lets dive into the 'time' column and clean it
# We want to have four unique values with the following criteria:
# 6 am until noon -> Morning
# Noon until 6 pm -> Afternoon
# 6 pm until midnight -> Night
# Midnight until 6 am -> Dawn

df['time'].unique()
#df['time'].value_counts()

# We need to use regex to extract the hour and minutes from the 'time' column
# We will create a function to clean the 'time' column
def time_cleaner(val):
    if pd.isna(val):
        return np.nan # Return NaN for null values
    
    val = str(val).strip().lower() # Convert to string and lower case
    
    # Remove unwanted characters
    val = re.sub(r'[^0-9a-z: ]', '', val) # Keep only alphanumeric characters, colon, and space

    # The previous regex cleans the column to keep only the essential characters needed for time parsing
    # The ^ inside []indicates negation, means "match everything EXCEPT these characters", so we basically removing unwanted punctuation, uppercase letters, and special characters while preserving the useful parts

    # Simple textual cases using any() for efficiency
    if any(word in val for word in ['dawn', 'daybreak', 'sunrise', 'early morning']):
        return 'Dawn'
    if any(word in val for word in ['morning']):
        return 'Morning'
    if any(word in val for word in ['noon', 'midday', 'afternoon', 'after noon', 'mid afternoon', 'late afternoon']):
        return 'Afternoon'
    if any(word in val for word in ['evening', 'dusk', 'sunset', 'night', 'dark']):
        return 'Evening'

    # Numeric time formats using regex to capture hour and optional minutes with or without separators
    # This regex is designed to extract time information from various formats
    match = re.search(r'(\d{1,2})[:h]?(\d{0,2})?', val)
    if match:
        hour = int(match.group(1)) # Extract hour from regex group 1
        minutes = match.group(2) if match.group(2) else '00' # Extract minutes from regex group 2 if available

        # 4 digits format without separator (ex: 1530)
        if len(val) >= 4 and val[:4].isdigit(): # Check if first 4 characters are digits
            hour = int(val[:2]) # First two digits are hour
            minutes = val[2:4] # Last two digits are minutes

        # Adjust hour if minutes are superior to 45
        if minutes and minutes.isdigit() and int(minutes) > 45: # If minutes are greater than 45, round up the hour
            hour += 1
        hour = hour % 24  # Ensure hour is within 0-23

        # Convert in 4 periods of the day
        if 5 <= hour < 11:
            return 'Morning'
        elif 11 <= hour < 18:
            return 'Afternoon'
        elif 18 <= hour < 23:
            return 'Evening'
        else:
            return 'Dawn'

    # If nothing matches, return NaN
    return np.nan

# We apply the function to the 'time' column
df['time_clean'] = df['time'].apply(time_cleaner)

# To check the result
print(df['time_clean'].value_counts(dropna=False))

# # Now we want to drop the columns that are not useful for our analysis
df = df.drop(df.columns[[7, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]], axis=1, inplace=False)
# # We are droping time column because we created a new column 'time_clean' with the cleaned values
# # We did drop the name column because of the data privacy policy in some countries
df.head()

(7045, 23)

Date              6089
Year               261
Type                13
Country            247
State              937
Location          4595
Activity          1606
Name              5770
Sex                 10
Age                250
Injury            4162
Fatal Y/N           12
Time               460
Species           1724
Source            5384
pdf               6789
href formula      6784
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

type
Unprovoked             5032
Under investigation     834
Provoked                582
Name: count, dtype: int64

sex
M    5645
F     803
Name: count, dtype: int64

['M' 'F']

time_clean
NaN          3128
Afternoon    2105
Morning       766
Evening       394
Dawn           55
Name: count, dtype: int64

,date,year,type,country,state,location,activity,sex,age,injury,fatal_y/n,time_clean
0,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,M,57,Both legs and arm severed,Y,Morning
1,1st September,2025.0,Unprovoked,USA,Florida,Horseshoe reef Key Largo,Snorkeling,M,8,Bite to leg,N,Afternoon
2,30th August,2025.0,Unprovoked,USA,Texas,Galveston,Swimming,F,8,Bite to leg,N,NaN
3,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,M,?,None sustained board severly damaged,N,Morning
4,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,M,63,Severe injuries no detail,N,Afternoon

In [21]:
df.isna().sum()
df[['time_clean']].describe()

       time_clean
count        3320
unique          4
top     Afternoon
freq         1581

In [14]:
display(df[['type']].describe())

              type
count         6448
unique           3
top     Unprovoked
freq          5032

In [15]:
display(df[['sex']].describe())

         sex
count   6448
unique     2
top        M
freq    5645